@{
    ViewBag.Title = "Ocorrências";
    var mensagem = ViewBag.Mensagem as string;
}

<div id="sidewrapper">
    <div class="sidebar">
        <div class="heading">
        </div>
        @if (!string.IsNullOrEmpty(mensagem))
            {
                <div class="alert alert-success" role="alert" style="margin:2em">
                    @mensagem
                </div>
            }
        <div class="heading" id="titulo">
            <div class="row">
                <div class="col-md-10">
                    <h1 style="text-align: right">Ocorrências</h1>
                </div>
                <div class="col-md-2">
                    <a href="@Url.Action("nova", "ocorrencia")" id="btn-novaocorrencia" class="btn btn-success btn-large" role="button"
                       data-title="Nova Ocorrência" data-pjax data-callback="NovaOcorrencia">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <hr/>
        </div>
        <div id="listings" class="listings">
            <br/>
        </div>
    </div>
</div>

<div id="mapa" class="map"></div>

@section scripts {
    <script src="~/Content/karellen/js/App/index.js" type="text/javascript"></script>
    <script src="~/Content/karellen/js/Global/navegacao.js" type="text/javascript"></script>
}
