@if (User.Identity.IsAuthenticated)
{
    <ul class="nav navbar-nav nav-tabs">
        <li>@Html.ActionLink("Mapa", "index", "app")</li>
        @if (User.IsInRole("Administrador"))
        {
            <li>@Html.ActionLink("Log", "index", "log", routeValues: null, htmlAttributes: new {id = "loginLink"})</li>
        }
        <li>@Html.ActionLink("Estatisticas", "index", "estatistica")</li>
    </ul>
}
