* { box-sizing: border-box; }

body {
  color: #404040;
  font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
  font-smoothing: antialiased;
}

h1 {
  font-size: 22px;
  margin: 0;
  font-weight: 400;
}
a {
  color: #404040;
  text-decoration: none;
}
a:hover { color: #101010; }

.sidebar {
  position: absolute;
  width: 33.3333%;
  height: 100%;
  top: 0; left: 0;
  overflow: hidden;
  border-right: 1px solid rgba(0,0,0,0.25);
}

.pad2 { padding: 20px; }
.quiet { color:#888; }

.map {
  position: absolute;
  left: 33.3333%;
  width: 66.6666%;
  top: 0; bottom: 0;
}

.heading {
  background: #fff;
  border-bottom: 1px solid #eee;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
}

.listings {
  height: 100%;
  overflow: auto;
  padding-bottom: 60px;
}

.listings .item:last-child {
}

.listings .item {
  display: block;
  border-bottom: 1px solid #eee;
  padding: 10px;
  text-decoration: none;
}

.listings .item:last-child {
    margin-bottom: 5em;
    border-bottom: none;
}

.listings .item .title {
  display: block;
  color: #00853e;
  font-weight: 700;
}

.listings .item .title small { font-weight: 400; }
.listings .item.active .title,
.listings .item .title:hover { color: #51843e; }
.listings .item.active { background-color: #f8f8f8; }

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-left: 0;
  background: rgba(0,0,0,0.1);
}
::-webkit-scrollbar-track {
  background: none;
}
::-webkit-scrollbar-thumb {
  background: #00853e;
  border-radius: 0;
}

.clearfix { display: block; }
.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.leaflet-popup-content {
  font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
  padding: 0;
    text-align: center;
}
.leaflet-popup-content-wrapper {
  padding: 0;
}
.leaflet-popup-content h3 {
  background: #51843e;
  color: #fff;
  margin: 0;
  display: block;
  padding: 10px;
  border-radius: 3px 3px 0 0;
  font-weight: 700;
  margin-top: -15px;
}
.leaflet-popup-content div {
  padding: 10px;
}
.leaflet-container .leaflet-marker-icon { cursor: pointer; }

.validation-summary-errors {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.body-content {
    margin-top: 72px;
}

#homefacebook {
    color: white;
    background-color: #3b5998;
}

#homegoogle {
    color: white;
    background-color: #c32f10;
}

.first-letter:first-letter {
    text-transform: uppercase;
}

.btn-primary {
        color: #fff;
    background-color: #51843e;
    border-color: #467336;
    text-shadow: none;
}

.btn-primary:active {
    background-color: #263f1e;
}

.btn-primary:hover{
    background-color: #51843e;
        color: #fff;
    border-color: #51843e
}
.btn-primary:focus{
    background-color: #51843e!important;
    border-color:  #51843e!important;
        color: #fff;
    border-color: #51843e
}

.profile {
    border-radius: 100%;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    background-color: #51843e;
    border-color: #51843e;
}

#circleocorrencia {
    color: #51843e;
}

#btnedit {
    margin-bottom: 1.0em; 
    display: inline-block;
}

#titulo {
    margin-top: 72px;
}

#titulo * {
    display: inline-block;
}

#mapa {
    margin-top: 52px;
}

.leaflet-popup-content .btn {
    margin: 1em;
}

.autor {
    display: inline-block;
}

a, a:hover {
    color: #51843e;
}

.panel-primary {
    border-color: #2e382a;
}

.panel-primary > .panel-heading {
    background-color: #51843e;
    border-color: #2e382a;
    
}